:root{
	/*-Font Size Rules */
	--extra-extra-large: 72px;
	--extra-large: 56px;
	--large: 48px;
	--moderate: 40px;
	--medium: 32px;
	--small: 24px;
	--tiny: 16px;

	/*-Color Rules  */
	--black: #181616;
	--white: #fafafa;

	/*-Content Body Padding*/
	--top-pad: 10vh;
	--bottom-pad: 16vh:
}

/*---CSS Desktop Prefix---*/


@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;600;800&display=swap'); /* Header Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,400;1,600&display=swap'); /*Body Font */


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family:'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	font: 100%;
	background-color: var(--white);
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Inter Tight',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--black);
}

p{
	font-size: var(--small)
}

a{
	text-decoration: none;
}

.container{
	width: 75%;
	align-items: center;
	margin: 0 auto;	
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}


/*---Special Stylistic Global Rule--- */

.o-line{
	text-decoration: line-through;
}

/*---Header Styles---*/

header{
	padding-bottom: 40vh;
}

.logo-and-nav {
	padding-top: 2vh;
	padding-bottom: 1.5vh;
	display: flex;
	z-index: 10;
	position: fixed;
	width: 100%;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 0 ,0 , 22px, 22px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
}


header .site-logo{
	font-size: 42px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Inter Tight',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--black);
	z-index: 1;
}

.site-logo a, .site-logo a:visited{
	color: var(--black);
}

.site-logo a:hover, .site-logo a:active:hover{
	transition-duration: 0.65s;
	text-shadow: 2px 2px var(--white);
}


header nav{
	z-index: 1;
	float: right;
}

header ul{
	padding-top: 1.3vh;
	
}

nav li {
	list-style-type: none;
	display: inline;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
	font-size: var(--small);
	padding: 8px
}

nav li:last-child{
	padding: 0;
	padding-left: 8px;
}

header a{
	text-transform: uppercase;
	color: var(--black);
	font-weight: 600;
	justify-content: space-between;
}

header a, header:visited{
	transition-duration: 0.65s;
}

header a:hover, header a:active:hover{
	transition-duration: 0.65s;
	text-shadow: 1px 2px rgba(255,254,65,255);
}

header h1{
	z-index:1;
	position: relative;
	padding-top: 20vh;
	font-size: var(--extra-extra-large);
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgba(190,66,0,255) ;
	text-align: right;
}

header h1 .header-o{
	color: rgba(255,254,65,255)
}

header video {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	top: -2px;
}

/*---Main---*/

	/*About*/


.opener-header h2{
	padding-top: 20vh;
	float: left;
	text-transform: uppercase;
	font-size: var(--extra-large);
}

.opener-content{
	padding-top: 5.8vh;
	float: right;
	text-align: right;
	width:60%;
	font-size: var(--small)
}

/*---Project Section---*/

.projects{
	padding-top: 1.7vh;
	padding-bottom: 20vh;
	overflow-x: hidden;
}


.projects h2{
	font-size: var(--extra-large);
	text-transform: uppercase;
	padding-bottom: 3vh;
}


.projects h3{
	font-size: var(--moderate);
	text-transform: uppercase;
	padding-bottom: 1vh;
	text-align: center;
}

.project-section-one{
	display: flex;
}

.project-box{
	border-radius: 42px;
	background-image: url(./images/project-sample.gif);
	background-repeat: no-repeat;
	background-size: cover;
	width: 320px;
	height: 200px;
	margin: 20px;
}

.project-select-one {
	animation: project-select-one 40s linear infinite;
}

.project-select-one .select, .project-select-one .select:visited{
	animation: project-select-one 40s linear infinite;
}

.project-select-one .select:hover, .project-select-one .select:active:hover {
	animation: none !important;
}
.line-one{
	display: flex;
}

.line-two{
	display: flex;
}

.project-section-two{
	display: flex;
}

.project-section-two {
	animation: project-select-one 40s reverse linear infinite;
}

@keyframes project-select-one{
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes project-select-two{
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -100%);
	}

}

.project-picks{
	display: flex;
}



.project-one{

}

.project-two{

}
.project-three{

}
.project-four{

}
.project-five{

}

/*---Contact Pages---*/

.contacts{

}

@media screen {
	
}